* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #8bc7c7;
}

.container {
    display: flex;
    height: 100%;
    min-height: 100vh;

}

.sidebar {
    width: 20%;
    height: 672px;
    background-color: #394263;
    color: #fff;
    padding-top: 50px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 20px;
}

.sidebar li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.main {
    flex: 1;
}

.topbar {
    background: #6d8fa0;
    color: white;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topbar input {
    padding: 7px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.header-box {
    background-color: #e2e3e5;
    margin: 15px;
    padding: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.small-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 15px;

}

.scard {
    background-color: #9eb4d9;
    padding: 20px;
    width: calc(25% - 20px);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.grid {
    display: flex;
    gap: 20px;
    margin: 15px;
    flex-wrap: wrap;
}

.big-card {
    background-color: #81bef5;
    width: calc(70% - 10px);
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.right-card {
    width: calc(30% - 10px);
}

.medium-card,
.small-bottom-card {
    background-color: #81bef5;
    height: 170px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer {
    background-color: #638ba5;
    color: white;
    padding: 15px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#toggle-btn {
    display: none;
}


.open,
.close {
    display: none;
}

@media (max-width: 992px) {
    .big-card {
        width: 100%;
        height: 78px;

    }

    .right-card {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .medium-card,
    .small-bottom-card {
        width: 50%;
        height: 180px;
    }


}

@media (max-width: 576px) {


    .sidebar {
        display: none;
    }

    .topbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .header-box {
        text-align: center;
    }

    .scard {
        width: 100%;
    }

    .big-card {
        width: 100%;
        min-height: 250px;
    }

    .right-card {
        width: 100%;
    }

    .medium-card,
    .small-bottom-card {
        height: 140px;
    }


    #toggle-btn:checked ~ .sidebar {
        display: block;
    }

    .open,
    .close {
        display: block;
    }

    .close {
        text-align: end;
        padding: 10px;
    }
}